.nav-link, .nav-link .active {
    margin: 0 !important;
    padding: 0.5rem !important;
    border-radius: 2px 2px 0 0 !important;
}

.nav-link.active {
    background-color: var(--blue000) !important;
}

.mytab {
    border: 1px solid var(--blue000) !important;
    background-color: var(--blue000) !important;
}
